{{define "goal"}}
    <tr>
        <th scope="row">
            {{if .IsLinked}}
                <a href="/goaltracker/goals/{{.ID}}">{{.Name}}</a>
            {{else}}
                {{.Name}}
            {{end}}
        </th>
        <td>
            {{if .Period}}
                <b>{{.PeriodStart.Format "2006-01-02"}}</b> to <b>{{.PeriodEnd.Format "2006-01-02"}}</b>
            {{else if .DueTime}}
                <b>{{.DueTime.Format "2006-01-02"}}</b>
            {{end}}

            {{if .Progress}}
                {{.Progress}}/{{.TargetValue}}
            {{end}}
        </td>
        <td>
            <div class="d-flex flex-column gap-2">
                {{if .IsLinked}}
                    <a class="btn btn-dark btn-sm" href="/goaltracker/api/goals/{{.ID}}/unlink">Unlink</a>
                {{else}}
                    <a class="btn btn-dark btn-sm" href="/goaltracker/edit/{{.ID}}">Link</a>
                {{end}}

                {{if .IsCompletable}}
                    <a class="btn btn-dark btn-sm" href="/goaltracker/api/goals/{{.ID}}/complete">Mark as completed</a>
                {{end}}
            </div>
        </td>
    </tr>
{{end}}
