{{template "header"}}
{{template "navbar"}}
    <div class="container">
        <h1>{{.Goal.Name}}</h1>
        <a class="btn btn-dark" href="/goaltracker/edit/{{.Goal.ID}}">Edit</a>
        {{template "ws" .Goal.SourceID}}
        <br/>
        <br/>

        <ul>
            {{range $listItem := .ListItems}}
                {{if $listItem.CompletedDate}}
                    <li><s>{{$listItem.Value}}</s></li>
                {{else}}
                    <li>{{$listItem.Value}}</li>
                {{end}}
            {{end}}
        </ul>
    </div>
{{template "footer"}}