package jobs

// TODO: define job types here.
// Each job should implement threading.Job from
// github.com/xdoubleu/essentia/v3/pkg/threading.
//
// Example:
//
//	type MyJob struct { ... }
//	func (j *MyJob) GetName() string { return "myjob" }
//	func (j *MyJob) Run(ctx context.Context) error { ... }
