-- +goose Up
-- +goose StatementBegin

CREATE SCHEMA IF NOT EXISTS {{.Name}};

-- TODO: add your tables here

-- +goose StatementEnd

-- +goose Down
-- +goose StatementBegin

DROP SCHEMA IF EXISTS {{.Name}} CASCADE;

-- +goose StatementEnd
